@import "./styles/reset.scss";
@import "./styles/modal.scss";

.title {
    font-family:'monospace';
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    // margin: auto;
    text-align: center;
    border-bottom: black 1px dashed;
}

ul {
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    box-sizing: border-box;
}

.right-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
}

.left-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    // margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // margin: 0 30px;
    width: 45vw;
    height: 6vh;
}

 .left, .right{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.typing-area {
    display: flex;
    justify-content: center;
    background-color: #99B898;
    width: 99.7vw;
    height: 60px;
    margin: 0;
    resize: none;
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    border: none;     
    outline: none;
    z-index: 1;
}

.container {
    display: inline-flex;
    background-color: mediumaquamarine;
    margin: 0;
    box-sizing: border-box;
    height: 79vh;
    width: 100vw;
}

.button {
    max-width: 110px;
    max-height: 110px;
    display: inline;
    flex-direction: column;
 }

 canvas {
    height: 100%;
    width: 100%;
 }

#play, #pause, #restart {
    position: fixed;
}

#play {
    bottom: 510px; 
    left: 5px;;
}

#pause {
    bottom: 380px; 
    left: 5px; 
}

#restart {
    bottom: 250px; 
    left: 5px;
}

button {
    background: none;
	color: inherit;
	border: none;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

#instructions:hover {
    background: rgb(156, 202, 187);
}

#github-img {
    height: 30px;
    width: 30px;
    
}

.button > img {
    height: 100%; 
    width: 100%;
}

.linkedIn {
    margin-right: 10px;
}


