@import "./styles/reset.scss";
@import "./styles/modal.scss";

.title {
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 20px;
}

.right-nav {
    float: left;
}


.left-nav {
    float: right;
}

 .left, .right{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.typing-area {
    display: flex;
    justify-content: center;
    background-color: #99B898;
    width: 1700px;
    height: 60px;
    margin: 0;
}

.typing-area {
    resize: none;
    background-color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    border: none;     
    outline: none;
    z-index: 1;
}

.container {
    display: inline-flex;
    background-color: #99B898;
    margin: 0;
    box-sizing: content-box;
}

.button {
    max-width: 110px;
    max-height: 110px;
    display: inline;
    flex-direction: column;
 }

 canvas {
     display: flex; 
     justify-content: center;
     vertical-align: center; 
 }

#play, #pause, #restart {
    padding: 20px; 
    position: fixed;
}

#play {
    bottom: 510px; 
    left: 5px;;
}

#pause {
    bottom: 380px; 
    left: 5px; 
}

#restart {
    bottom: 250px; 
    left: 5px;
}

button {
    background: none;
	color: inherit;
	border: none;
	// padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
    background: rgb(140, 145, 139);
    padding: 0.5em 0.5em;
}

