.title {
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

.right-nav {
    float: left;
}


.left-nav {
    float: right;
}

 .left, .right{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.typing-area {
    display: flex;
    justify-content: center;
    background-color: mediumaquamarine;
    width: 1700px;
    height: 60px;
    margin: 0;
}

.typing-area {
    resize: none;
    background-color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    border: none;     
    outline: none;
}

canvas {
    background-color:mediumaquamarine;
    margin: 0;
}